html,
body {
  margin: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.frame .div {
  display: flex;
  flex-direction: column;
  height: 1080px;
  align-items: center;
  gap: 85px;
  padding: 35px 144px;
  position: relative;
  align-self: stretch;
  backdrop-filter: blur(15px) brightness(100%);
  -webkit-backdrop-filter: blur(15px) brightness(100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 47.4%, rgba(160, 158, 171, 0.2) 99.99%);
}

.frame .text-wrapper {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .p {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .frame-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 35px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(255, 255, 255, 0.8509803922);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2980392157);
  backdrop-filter: blur(35px) brightness(100%);
  -webkit-backdrop-filter: blur(35px) brightness(100%);
}

.frame .python-python-wrapper {
  display: flex;
  width: 1398px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.frame .python-python {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .span {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
}

.frame .text-wrapper-2 {
  text-decoration: underline;
}

.frame .div-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 58px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 30px;
  position: relative;
  flex: 0 0 auto;
  background-color: #459cdb;
  border-radius: 10px;
  overflow: hidden;
}

.frame .text-wrapper-3 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 133px;
  position: relative;
  background-color: #133853;
}

.div-9 {
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  gap: 20px;
  cursor: pointer;
}

.div-10 {
  flex-direction: row;
  display: flex;
  gap: 6px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.div-8 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}

.text-wrapper-1 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  text-decoration: none;
}

.profile-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: #459cdb;
  border-radius: 100%;
  overflow: hidden;
}

.ooui-user-avatar {
  position: relative;
  width: 45px;
  height: 45px;
}

.frame .btn-change {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 30px;
  position: relative;
  background-color: #459cdb;
  border-radius: 10px;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=lesson-student.css.map */